

<div id="page-wrapper" >
				<div class="graphs">
					<h3 class="blank1">{{customer}}  <a href="#ajouterclient">
                        <button class="btn btn-success btn-xs pull-right" ng-hide="!onmevoit"><i class="icon-plus-sign icon-white"></i>Ajouter</button>
                    </a></h3>
                    
                    
                    <div class="tab-content" ng-hide="onmevoit">
						<div class="tab-pane active" id="horizontal-form">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="focusedinput" class="col-sm-2 control-label">Désignation</label>
									<div class="col-sm-8">
										<input type="text" class="form-control1" id="focusedinput" placeholder="Entreprise ou Partculier" ng-model="tout.designation">
									</div>
									
								</div>
								<div class="form-group">
									<label for="disabledinput" class="col-sm-2 control-label">Téléphone</label>
									<div class="col-sm-8">
										<input  type="text" class="form-control1" id="focusedinput" placeholder="Téléphone" ng-model="tout.telephone">
									</div>
								</div>
								<div class="form-group">
									<label for="inputPassword" class="col-sm-2 control-label">Email</label>
									<div class="col-sm-8">
										<input type="email" class="form-control1" id="inputEmail" placeholder="Email" ng-model="tout.email">
									</div>
								</div>
								
						
								<div class="form-group">
									<label for="selector1" class="col-sm-2 control-label">Client ou Prospect ?</label>
									<div class="col-sm-8"><select name="selector1" id="selector1" class="form-control1" ng-model="tout.type">
										<option value="1" ng-selected="tout.type == 1">Client</option>
										<option value="0" ng-selected="tout.type == 0">Prospect</option>
							
									</select></div>
								</div>
                                
                                <div class="form-group">
									<label for="selector1" class="col-sm-2 control-label">Groupe</label>
									<div class="col-sm-8"><select name="selector1" id="selector1" class="form-control1" ng-model="tout.id_groupe">
                                                    <option ng-repeat="groupe in groupes" ng-selected="tout.id_groupe == groupe.id_groupe_client" value="{{ groupe.id_groupe_client }}">{{groupe.libelle}}</option>
									
							
									</select></div>
								</div>
	
					
					
						
						  <div class="panel-footer">
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<button class="btn-success btn" ng-click="sauvegarderModif()">Enregistrer</button>
                                    <a href="#client"><button class="btn-default btn" ng-click="annulerModif()">Annuler</button></a>

								</div>
							</div>
						 </div>
						</form>
					  </div>
				</div>
                    
					 <div class="xs tabls" ng-hide="!onmevoit">
						<div class="bs-example4" data-example-id="contextual-table">
                      
						<table class="table table-striped">
						  <thead>
							<tr class="warning">
							  <th>#</th>
							  <th>Entreprise / Particulier</th>
							  <th>Telephone</th>
							  <th>Email</th>
                              <th></th>
							</tr>
						  </thead>
						  <tbody>
							<tr ng-repeat="person in personnes">
							  <th scope="row">1</th>
							  <td>{{person.designation}}</td>
							  <td>{{person.telephone}}</td>
							  <td>{{person.email}} </td>
                               <td> <button class="btn btn-warning btn-xs" ng-click="modifierClient($index)"><i class="icon-pencil icon-white"></i> Modifier</button>
                                    <button class="btn btn-danger btn-xs" ng-click="supprimerClient(person.id_client)"><i class="icon-pencil icon-white"></i> Supprimer</button></td>
							</tr>
							
						  </tbody>
						</table>
					   </div>
					 
					</div>
				</div>
			</div>